.weather-info {
    list-style: none;
    padding-left: 0;
}

.weather-result {
    margin-top: 30px;
}

.aqi-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
}

.aqi-info p {
    display: flex;
    justify-content: space-around;
}